$className: 'gallery__upper-row';

.#{$className} {
  display: grid;
  grid-template-columns: 448px 1fr;
  gap: 20px;
}

@include breakPoint($className, $mobile) {
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 0.9fr;
}
