$className: 'form__submit-btn-text';

.#{$className} {
  font-family: $primaryFont;
  color: $secondaryFontColor;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.38px;
}

@include breakPoint($className, $smallMobile) {
  display: none;
}
