$className: 'form__input';

.#{$className} {
  box-sizing: border-box;
  width: 348px;
  height: 50px;
  padding: 0;
  border: none;
  background-color: rgba($color: #8e8e98, $alpha: 0.2);
  border-radius: 8px 0 0 8px;
  transition: background-color 0.5s;
  cursor: pointer;
  font-family: $primaryFont;
  font-size: 14px;
  line-height: 1.7;
  color: var(--var-secondary-font-color);
  padding-left: 16px;
  letter-spacing: 0.38px;

  &:hover {
    background-color: rgba($color: #8e8e98, $alpha: 0.3);
  }

  &:focus {
    outline: none;
    background-color: rgba($color: #8e8e98, $alpha: 0.3);
  }
}

@include breakPoint($className, $tablet) {
  width: 100%;
}
