$primaryFont: 'Roboto', Arial, sans-serif;

// Цвета
$primaryFontColor: #fff;
$secondaryFontColor: #8e8e98;
$backgroundColor: #000;
$accentColor: #25e197;
$lightAccentColor: #1c1c1e;

// Размеры
$primaryFontSize: 32px;
$secondaryFontSize: 15px;
$primaryLineHeight: 1.25;
$primaryIndent: 120px;
$secondaryIndent: 60px;

// Разрешения
$smallDesktop: 1200px;
$tablet: 1023px;
$mobile: 767px;
$smallMobile: 580px;
