$primaryFont: 'Roboto', Arial, sans-serif;

//Тема
:root {
  --var-primary-font-color: #8e8e98;
  --var-secondary-font-color: #fff;
  --var-bg-color: #000;
  --var-light-accent-color: #47474c;
  --var-accent-color: #25e197;
  --var-card-color: #1c1c1e;
  --var-hovered-card-color: #232327;
  --var-btn-font-color: #fff;
  --var-footer-border-color: #151515;
  --var-theme-switch-border-color: #fff;
  --var-price-color: #25e197;
  --var-image-filter: invert(0);
}

[light] {
  --var-primary-font-color: #272727;
  --var-secondary-font-color: #000;
  --var-bg-color: #fcfcfc;
  --var-light-accent-color: #8b8a8a;
  --var-accent-color: #25e197;
  --var-card-color: #ffd233;
  --var-hovered-card-color: #ffde65;
  --var-btn-font-color: #fff;
  --var-footer-border-color: #8b8a8a;
  --var-theme-switch-border-color: #8b8a8a;
  --var-price-color: #8b8a8a;
  --var-image-filter: invert(10%);
}

$animationSpeed: all 0.3s ease;

// Размеры
$primaryFontSize: 32px;
$secondaryFontSize: 15px;
$primaryLineHeight: 1.25;
$primaryIndent: 120px;
$secondaryIndent: 60px;

// Разрешения
$smallDesktop: 1200px;
$tablet: 1023px;
$mobile: 767px;
$smallMobile: 580px;
