$className: 'warranty__card-text';

.#{$className} {
  font-family: $primaryFont;
  font-size: 15px;
  line-height: 1.3;
  color: var(--var-primary-font-color);
  margin-top: 38px;
}

@include breakPoint($className, $smallMobile) {
  font-size: 12px;
  line-height: 1.5;
  margin-top: 36px;
}
