$className: 'warranty__cards';

.#{$className} {
  grid-template-columns: repeat(4, 1fr);
}

@include breakPoint($className, $tablet) {
  grid-template-columns: repeat(2, 1fr);
}

@include breakPoint($className, $smallMobile) {
  grid-template-columns: 1fr;
}
