$className: 'section-title';

.#{$className} {
  font-family: $primaryFont;
  color: $primaryFontColor;
  font-size: $primaryFontSize;
  line-height: $primaryLineHeight;
  font-weight: 400;
}

@include breakPoint($className, $tablet) {
  font-size: 20px;
  line-height: 1.5;
}

@include breakPoint($className, $smallMobile) {
  font-size: 12px;
}
