$className: 'card';

.#{$className} {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 40px;
  background-color: var(--var-card-color);
  border-radius: 16px;
  cursor: pointer;
  transition: all 0.5s;

  &:hover {
    background-color: var(--var-hovered-card-color);
  }
}

@include breakPoint($className, $smallMobile) {
  padding: 20px;
}
