$className: 'form';

.#{$className} {
  max-width: 569px;
  display: grid;
  grid-template-columns: 1fr max-content;
  margin-top: 228px;
}

@include breakPoint($className, $tablet) {
  max-width: 100%;
  margin-top: 470px;
}

@include breakPoint($className, $mobile) {
  margin-top: 258px;
}
