$className: 'card__text';

.#{$className} {
  font-family: $primaryFont;
  font-size: $primaryFontSize;
  line-height: $primaryLineHeight;
  color: $secondaryFontColor;
  margin-top: 40px;
}

@include breakPoint($className, $smallMobile) {
  font-size: 12px;
  line-height: 1.5;
  margin-top: 28px;
}
