$className: 'form__caption';

.#{$className} {
  font-family: $primaryFont;
  font-size: 12px;
  line-height: 1.5;
  color: var(--var-light-accent-color);
  margin-top: 12px;
  margin-left: 10px;
}

@include breakPoint($className, $smallDesktop) {
  margin-top: 10px;
}

@include breakPoint($className, $mobile) {
  margin-left: 2px;
}
