$className: 'company';

.#{$className} {
  display: grid;
  grid-template-columns: minmax(min-content, max-content) 1fr 1fr;
  align-items: center;
  white-space: nowrap;
  justify-content: space-between;
  margin-left: 6px;
}

@include breakPoint($className, $smallDesktop) {
  margin-left: 0;
}
